<h2 id='part4'> How can you  generate higher ratings? </h2>


To answer this question I will use listing data to model and predict the ratings that would be generated by a given Seattle AirBnb listing,

In [1]:
# Import necessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
% config InlineBachend.figure_format = 'retina'

In [7]:
Listings_data = pd.read_csv('listings.csv')
### Data shape
Listings_data.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [6]:
### Data shape
Listings_data.shape

(3818, 92)

In [5]:
## Alook at the variable
Listings_data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
id                                  3818 non-null int64
listing_url                         3818 non-null object
scrape_id                           3818 non-null int64
last_scraped                        3818 non-null object
name                                3818 non-null object
summary                             3641 non-null object
space                               3249 non-null object
description                         3818 non-null object
experiences_offered                 3818 non-null object
neighborhood_overview               2786 non-null object
notes                               2212 non-null object
transit                             2884 non-null object
thumbnail_url                       3498 non-null object
medium_url                          3498 non-null object
picture_url                         3818 non-null object
xl_picture_url                      3498 non-null object
host_id                             3818 non-null int64
host_url                            3818 non-null object
host_name                           3816 non-null object
host_since                          3816 non-null object
host_location                       3810 non-null object
host_about                          2959 non-null object
host_response_time                  3295 non-null object
host_response_rate                  3295 non-null object
host_acceptance_rate                3045 non-null object
host_is_superhost                   3816 non-null object
host_thumbnail_url                  3816 non-null object
host_picture_url                    3816 non-null object
host_neighbourhood                  3518 non-null object
host_listings_count                 3816 non-null float64
host_total_listings_count           3816 non-null float64
host_verifications                  3818 non-null object
host_has_profile_pic                3816 non-null object
host_identity_verified              3816 non-null object
street                              3818 non-null object
neighbourhood                       3402 non-null object
neighbourhood_cleansed              3818 non-null object
neighbourhood_group_cleansed        3818 non-null object
city                                3818 non-null object
state                               3818 non-null object
zipcode                             3811 non-null object
market                              3818 non-null object
smart_location                      3818 non-null object
country_code                        3818 non-null object
country                             3818 non-null object
latitude                            3818 non-null float64
longitude                           3818 non-null float64
is_location_exact                   3818 non-null object
property_type                       3817 non-null object
room_type                           3818 non-null object
accommodates                        3818 non-null int64
bathrooms                           3802 non-null float64
bedrooms                            3812 non-null float64
beds                                3817 non-null float64
bed_type                            3818 non-null object
amenities                           3818 non-null object
square_feet                         97 non-null float64
price                               3818 non-null object
weekly_price                        2009 non-null object
monthly_price                       1517 non-null object
security_deposit                    1866 non-null object
cleaning_fee                        2788 non-null object
guests_included                     3818 non-null int64
extra_people                        3818 non-null object
minimum_nights                      3818 non-null int64
maximum_nights                      3818 non-null int64
calendar_updated                    3818 non-null object
has_availability                    3818 non-null object
availability_30                     3818 non-null int64
availability_60                     3818 non-null int64
availability_90                     3818 non-null int64
availability_365                    3818 non-null int64
calendar_last_scraped               3818 non-null object
number_of_reviews                   3818 non-null int64
first_review                        3191 non-null object
last_review                         3191 non-null object
review_scores_rating                3171 non-null float64
review_scores_accuracy              3160 non-null float64
review_scores_cleanliness           3165 non-null float64
review_scores_checkin               3160 non-null float64
review_scores_communication         3167 non-null float64
review_scores_location              3163 non-null float64
review_scores_value                 3162 non-null float64
requires_license                    3818 non-null object
license                             0 non-null float64
jurisdiction_names                  3818 non-null object
instant_bookable                    3818 non-null object
cancellation_policy                 3818 non-null object
require_guest_profile_picture       3818 non-null object
require_guest_phone_verification    3818 non-null object
calculated_host_listings_count      3818 non-null int64
reviews_per_month                   3191 non-null float64
dtypes: float64(17), int64(13), object(62)
memory usage: 29.3 MB

## Variables classification

After a quick look at the variables of our dataset we can classif them into 5 categories:
   - DESCRIPTIONS : name, summary, space, description.
   
   - HOST : host_response_time, host_response_rate, host_acceptance_rate, host_is_superhost.
   
   - HOME DETAILS : property_type, room_type, accomodates, bathrooms, bedrooms, beds, bed_type, amenities.
   
   - LISTING ELEMENTS : price, cleaning_fee, extra_people, minimum_nights, maximum_nights, instant_bookable, cancellation policy.
   
   - SCORES : review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value

In [31]:
list_var = ['name', 'summary', 'space', 'description', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 
            'neighbourhood_group_cleansed', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type','amenities', 
            'price', 'cleaning_fee', 'minimum_nights', 'maximum_nights', 'instant_bookable', 'cancellation_policy', 'review_scores_rating', 
            'review_scores_accuracy','review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication',
            'review_scores_location', 'review_scores_value']
### get a subset of data
df = Listings_data[list_var]
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 30 columns):
name                            3818 non-null object
summary                         3641 non-null object
space                           3249 non-null object
description                     3818 non-null object
host_response_time              3295 non-null object
host_response_rate              3295 non-null object
host_acceptance_rate            3045 non-null object
host_is_superhost               3816 non-null object
neighbourhood_group_cleansed    3818 non-null object
property_type                   3817 non-null object
room_type                       3818 non-null object
accommodates                    3818 non-null int64
bathrooms                       3802 non-null float64
bedrooms                        3812 non-null float64
beds                            3817 non-null float64
bed_type                        3818 non-null object
amenities                       3818 non-null object
price                           3818 non-null object
cleaning_fee                    2788 non-null object
minimum_nights                  3818 non-null int64
maximum_nights                  3818 non-null int64
instant_bookable                3818 non-null object
cancellation_policy             3818 non-null object
review_scores_rating            3171 non-null float64
review_scores_accuracy          3160 non-null float64
review_scores_cleanliness       3165 non-null float64
review_scores_checkin           3160 non-null float64
review_scores_communication     3167 non-null float64
review_scores_location          3163 non-null float64
review_scores_value             3162 non-null float64
dtypes: float64(10), int64(3), object(17)
memory usage: 11.2 MB

In [32]:
### look at the 10 first variable
df.iloc[:5, 0:10]

,name,summary,space,description,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,neighbourhood_group_cleansed,property_type
0,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,within a few hours,96%,100%,f,Queen Anne,Apartment
1,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,within an hour,98%,100%,t,Queen Anne,Apartment
2,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,within a few hours,67%,100%,f,Queen Anne,House
3,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,NaN,NaN,NaN,f,Queen Anne,Apartment
4,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,within an hour,100%,NaN,f,Queen Anne,House

In [33]:
### look at the 12 second variable
df.iloc[:5, 10:22]

,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,price,cleaning_fee,minimum_nights,maximum_nights,instant_bookable
0,Entire home/apt,4,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",$85.00,NaN,1,365,f
1,Entire home/apt,4,1.0,1.0,1.0,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",$150.00,$40.00,2,90,f
2,Entire home/apt,11,4.5,5.0,7.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",$975.00,$300.00,4,30,f
3,Entire home/apt,3,1.0,0.0,2.0,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Indoor ...",$100.00,NaN,1,1125,f
4,Entire home/apt,6,2.0,3.0,3.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",$450.00,$125.00,1,1125,f

In [34]:
### look at the rest of variable
df.iloc[:5, 22:]

,cancellation_policy,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,moderate,95.0,10.0,10.0,10.0,10.0,9.0,10.0
1,strict,96.0,10.0,10.0,10.0,10.0,10.0,10.0
2,strict,97.0,10.0,10.0,10.0,10.0,10.0,10.0
3,flexible,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,strict,92.0,9.0,9.0,10.0,10.0,9.0,9.0

## Cleaning data

In [36]:
# Get lengths of description elements
df['name_length'] = df['name'].str.len()
df['summary_length'] = df['summary'].str.len()
df['space_length'] = df['space'].str.len()
df['description_length'] = df['description'].str.len()
df['amenities_length'] = df['amenities'].str.len()
## full nan values by 0
df['name_length'].fillna(0, inplace=True)
df['summary_length'].fillna(0, inplace=True)
df['space_length'].fillna(0, inplace=True)
df['description_length'].fillna(0, inplace=True)
df['amenities_length'].fillna(0, inplace=True)
### drop original variable
df = df.drop(['name', 'summary', 'space', 'description', 'amenities'], axis=1)
df.head()

,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,neighbourhood_group_cleansed,property_type,room_type,accommodates,bathrooms,bedrooms,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,name_length,summary_length,space_length,description_length,amenities_length
0,within a few hours,96%,100%,f,Queen Anne,Apartment,Entire home/apt,4,1.0,1.0,...,10.0,10.0,10.0,9.0,10.0,28,0.0,1000.0,1000,114
1,within an hour,98%,100%,t,Queen Anne,Apartment,Entire home/apt,4,1.0,1.0,...,10.0,10.0,10.0,10.0,10.0,34,249.0,1000.0,1000,243
2,within a few hours,67%,100%,f,Queen Anne,House,Entire home/apt,11,4.5,5.0,...,10.0,10.0,10.0,10.0,10.0,35,241.0,1000.0,1000,291
3,NaN,NaN,NaN,f,Queen Anne,Apartment,Entire home/apt,3,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,18,243.0,0.0,243,197
4,within an hour,100%,NaN,f,Queen Anne,House,Entire home/apt,6,2.0,3.0,...,9.0,10.0,10.0,9.0,9.0,30,184.0,488.0,1000,181

In [38]:
# Recode host_response_time
### value count in host_response_time variable
df['host_response_time'].value_counts(dropna=False)

within an hour        1692
within a few hours     968
within a day           597
NaN                    523
a few days or more      38
Name: host_response_time, dtype: int64

In [39]:
# Convert host_response_time to integers
df['host_response_time'].replace('within an hour', 1, inplace=True)
df['host_response_time'].replace('within a few hours', 2, inplace=True)
df['host_response_time'].replace('within a day', 3, inplace=True)
df['host_response_time'].replace('a few days or more', 4, inplace=True)
# Impute missing values using forward-fill method
df['host_response_time'].fillna(method='ffill', inplace=True)

In [41]:
# Convert host_response_rate and host_acceptance_rate to number between 0 and 1
df['host_acceptance_rate'] = df['host_acceptance_rate'].replace('%','',regex=True).astype('float64')/100.00
df['host_response_rate'] = df['host_response_rate'].replace('%','',regex=True).astype('float64')/100.00
# Impute missing values using forward-fill method
df['host_response_rate'].fillna(method='ffill', inplace=True)
df['host_acceptance_rate'].fillna(method='ffill', inplace=True)